@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Playfair+Display:400,700,900|Sorts+Mill+Goudy&display=swap');

// font-family: 'Playfair Display', serif;
// font-family: 'Cormorant Garamond', serif;
// font-family: 'Sorts Mill Goudy', serif;

// plain css variables
//   --color-primary: #584ec4;
//   --color-secondary: #08ffc9;
//   --color-secondary-opacity: #08ffc9d3;
//   --main-title: #070027;
//   --sub-title: #262f39;
//   --main-text: #6d6d6d;
//   --background: #f7f7ff;
//   --element-shadow: 30px 60px 60px -20px rgba(156, 156, 156, 0.205);
//   --text-shadow: 10px 2px 30px rgba(82, 82, 82, 0.226);

$color-primary: #1e303f;
$color-primary-dark: #111a22;
$color-secondary: #08ffc9;
$color-secondary-opacity: #08ffc9d3;
$color-terciary: #edfcab;
$main-title: #070027;
$sub-title: #262f39;
$main-text: #6d6d6d;
$background: #f7f7ff;
$color-black: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

body {
  line-height: 1.7;
  background-color: $background;
}
/* ******************************************************************************** --UTILITY CLASSES--  */
.section {
  margin: 10rem 0;
}
.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.sub-title {
  font-size: 1.3rem;
  font-weight: lighter;
  // letter-spacing: 3px;
  color: $sub-title !important;
}
.btn {
  padding: 5rem 0;
  transition: 0.3s;
  display: inline-block;
  position: relative;
}
.margin-top {
  margin-top: 2rem;
}

.main-btn {
  border-radius: 4px;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, $color-secondary 0%, $color-terciary 100%);
  padding: 18px 34px;
  -webkit-box-shadow: 0px 20px 30px -10px #08ffc93f;
  color: $sub-title;
  transition: all .6s;
  text-align: center;
}
.sub-btn {
  border-radius: 4px;
  border: $main-title 1px solid;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 34px;
  -webkit-box-shadow: 0px 20px 30px -10px rgba(130, 214, 247, 0.4);
  color: $color-primary;
  transition: all .6s;
  text-align: center;
}
.sub-btn:hover {
background-image: linear-gradient(
    90deg,
    $color-primary 0%,
    $color-secondary 100%);
  color: $sub-title;
  border: none;
  transform: translateY(-10%);
  color: $background;
}
.main-btn:hover {
  background-image: linear-gradient(90deg, $color-terciary 0%, $color-secondary 100%);
  color: $sub-title;
  border: none;
  transform: translateY(-10%);
}
.header-title {
  font-size: 3rem;
  line-height: 70px;
  color: $sub-title !important;
}
.header-secondary {
  font-size: 1rem;
  line-height: 70px;
  font-weight: lighter;
  letter-spacing: 3px;
  color: $sub-title !important;
}

.paragraph {
  line-height: 2rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: lighter;
  color: $main-text;
  padding: 10px;
  font-size: 20px;
}
.paragraph-2 {
  line-height: 1.8rem;
  font-size: 18px;
  color: $sub-title;
  font-family: 'Cormorant Garamond', serif;
}
.header-title-sub {
  font-size: 2.5rem;
  line-height: 70px;
  color: $sub-title !important;
  font-weight: 400;
  margin-bottom: 2rem;
}
.title-paragraph {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.card-icon img {
  width: 150px;
  padding: 25px;
}
/* END Utility Classes */

/* ******************************************************************************** --NAVIGATION --  */

.navigation {
  &-checkbox {
    display: none;
    
  }
  &-btn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 2.5rem;
    right: 15.5rem;
    z-index: 2;
    text-align: center;
    cursor: pointer;
  }
  &-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 0rem;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
  }
  &-background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    right: 16rem;
    background-image: radial-gradient($color-secondary-opacity, $color-primary);
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 1;
    transform: scale(0);
  }
  &-list {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &-item {
    margin: 2rem;
  }
  &-link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1rem;
      color: $color-secondary-opacity;
      font-weight: 300;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        $color-primary 0%,
        $color-primary 50%,
        $color-secondary-opacity 50%
      );
      padding: 1rem 2rem;
      background-size: 250%;
      transition: all 0.4s;
      border-radius: 4px;
      letter-spacing: 5px;
      box-shadow: 30px 60px 60px -20px rgba(156, 156, 156, 0.39);
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
  &-icon {
    position: relative;
    z-index: 4;
    margin-top: 2rem;
    cursor: pointer;
    transition: all .3s;
   &,
   &::before,
   &::after {
      width: 2.5rem;
      height: 2px;
      background-image: linear-gradient(90deg, $color-black  0%, $color-black 100%);
      display: inline-block;
      -webkit-box-shadow: 3px 10px 20px 5px rgba(175, 175, 175, 0.212);
   }
   &::before,
   &::after {
    content: "";
    position: absolute;
    left: 0;
    text-align: center;
    transition: all .3s;
   }
   &::before {
    top: -.6rem;
   }
   &::after {
     top: .6rem;
   }
  }
  // **** Funtionality ****
  &-checkbox:checked ~ &-background {
      transform: scale(250);
      background-image: radial-gradient(
        $color-secondary-opacity,
        $color-primary
      );
      transition-duration: .6s;
    }
  &-checkbox:checked ~ &-nav {
      opacity: 1;
      width: 100%;
      
    }
  &-btn:hover &-icon::before {
    top: -.8rem;
  }
  &-btn:hover &-icon::after {
    top: .8rem;
  }
  &-checkbox:checked + &-btn &-icon {
  
    background-image: none;
    -webkit-box-shadow: none;
  
  }
  &-checkbox:checked + &-btn &-icon::before {
    top: 0;
    transform: rotate(135deg);
    background-image: linear-gradient(90deg, $color-primary  0%, $color-primary 100%);
  }
  &-checkbox:checked + &-btn &-icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-image: linear-gradient(90deg, $color-primary  0%, $color-primary 100%);
  }
}

/* ******************************************************************************** --TOP BANNER --  */

.header {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(17, 26, 34, 0.733), rgba(17, 26, 34, 0.733)),
  url("../img/pictures/header.jpeg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 65% 81%, 32% 76%, 0% 70%);
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.logo-box-img {
  max-width: 300px;
  height: auto;
  margin: 2rem 2rem 12rem 2rem;
}

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 3rem;
}

.heading-primary-main {
  display: block;
  font-size: 65px;
  font-weight: 100;
  margin-bottom: 30px;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  color: $background;
  // text-shadow: ;
  line-height: 4rem;
}
.heading-primary {
  display: block;
  font-size: 65px;
  font-weight: 100;
  margin-bottom: 30px;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  color: $color-secondary;
  line-height: 4rem;
}
.heading-primary-sub {
  display: block;
  width: 70%;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.8px;
  animation: moveInRight 1s ease-out;
  color: #f7f7ff;
  line-height: 40px;
  margin-bottom: 3rem;
}

.section-1-btn {
  position: absolute;
}

/* ******************************************************************************** --SECTION 2 --  */
.section-2 {
  margin-bottom: 550px;
  text-align: center;
  position: relative;
}
.section-2-img {
  width: 40rem;
}
.section-2-right {
  display: inline;
  position: absolute;
  left: 45%;
  top: -170px;
}
.section-2-left {
  display: inline;
  position: absolute;
  left: 15%;
  top: -30px;
  transform: translate(-15%, -30%);
  width: 500px;
  text-shadow: 10px 10px 40px rgba(110, 130, 208, 0.288);
  font-weight: 300;
  color: #070027;
  backface-visibility: hidden;
}
.section-2-left-title {
  position: relative;
}
.section-2-btn {
  position: absolute;
}

/* ******************************************************************************** --SERVICES --  */
.services {
  height: auto;
  /* background-color: #070027; */
  margin: 0 auto;
  /* margin-bottom: 230px; */
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: minmax(450px, auto); */
  /* grid-gap: 1rem; */
  justify-items: center;
  /* background-color: #070027; */
}
.services-header {
  margin: 6rem 0;
}
.card {
  height: 450px;
  max-width: 330px;
  transition: 0.5s;
  -webkit-box-shadow: 23px 10px 60px -10px rgba(141, 141, 141, 0.253);
  margin-bottom: 3rem;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 23px 10px 80px -10px rgba(180, 180, 180, 0.253);
}

.learn-more-btn {
  position: relative;
}
.learn-more-btn a {
  line-height: 1.8rem;
  font-weight: lighter;
  color: #000000;
  padding: 10px;
  backface-visibility: hidden;
}
.learn-more-btn a::after {
  content: "";
  display: block;
  border-bottom: 2px solid #070027;
  width: 30%;
  position: absolute;
  right: 20%;
  transform: translateX(-50%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.learn-more-btn a:hover::after {
  width: 0;
  right: 50%;
}

/* ******************************************************************************** --TESTIMONIALS --  */

.testimonial-section {
  height: auto;
  margin-top: 10rem;
  text-align: center;
}
.testimonial-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}
.testimonial-image > img {
  width: 100%;
  height: auto;
}

.testimonial-heading {
  padding-top: 5rem;
}
.testimonial-title {
  position: relative;
}
.testimonial-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url("../img/heading-line.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #f7fff8;
}
.testimonial-heading::before {
  content: '"';
  position: absolute;
  font-family: 'Sorts Mill Goudy', serif;
  top: 390px;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 30rem;
  color: #474d4023;
}

.testimonial-card {
  background-color: #ffffff67;
  height: auto;
  max-width: 600px;
  min-width: 400px;
  -webkit-box-shadow: 30px 60px 60px -20px rgba(156, 156, 156, 0.205);
  padding: 50px;
  border-radius: 10px;
  margin: 10rem auto;
  transition: 0.3s;
  text-align: center;
  animation-name: up;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

.testimonial-avatar-img {
  position: relative;
}
.testimonial-avatar-img > img {
  top: -120px;
  left: 50%;
  transform: translate(-50%);
  width: 110px;
  height: 110px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50%;
  -webkit-box-shadow: 10px 30px 30px -20px rgba(60, 73, 63, 0.493);
  position: absolute;
}
.testimonial-heading h3,
h6 {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  margin-top: 2rem;
}
.testimonial-signature {
  text-align: end;
  color: var(--main-text);
  font-style: italic;
  font-size: 0.8rem;
}
/* ************ TESTIMONIAL SLIDESHOW ************************** */

.mySlides {
  position: relative;
}
/* Next & previous buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  padding: 0.8rem;
  color: rgba(92, 92, 92, 0.26);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

/* Position the "next button" to the right */
.next {
  right: 19%;

  border-radius: 0 4px 4px 0;
}
.prev {
  left: 19%;
  border-radius: 4px 0 0 4px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.233);
  color: rgba(0, 0, 0, 0.411);
}


/* ******************************************************************************** --ABOUT SECTION --  */
.about-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2rem;
  padding: 3rem;
  height: auto;
}
.about-img > img {
  border-radius: 0 5rem 0 5rem;
  width: 100%;
  -webkit-box-shadow: 30px 50px 60px 30px rgba(60, 73, 63, 0.151);
  border: 1px solid #cecece98;
  height: auto;
  opacity: 0.9;
}

.about-content {
  transform: translate(30%, 10%);
  width: 80%;
}
.about-btn {
  position: absolute;
}

/* ******************************************************************************** --PROJECTS --  */
.projects {
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.projects-img img {
  width: 100%;
}
.projects-grid > a:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.projects-btn {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: auto;
}
.projects-title {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 3rem;
}
/* ******************************************************************************** --STEPS --  */
// .steps {
//   margin-bottom: 30%;
// }
// .steps-top-img {
//   height: 85vh;
//   background-image: linear-gradient(to right bottom, #ffffff46, #ffffff46),
//     url("../img/pictures/steps-top.jpg");
//   background-size: cover;
//   background-position: center;
//   animation-name: fade;
//   animation-duration: 0.5s;
//   animation-timing-function: ease-out;
//   position: relative;
//   text-align: center;
// }
// .steps-heading {
//   padding-top: 3rem;
// }
// .steps-grid-container {
//   position: absolute;
//   transform: translateY(28%);
// }
// .steps-grid {
//   display: grid;
//   grid-template-columns: 2fr 2fr;
//   height: 85vh;
//   padding: 0 50px;
//   width: 100%;
// }
// .step-1 {
//   align-self: start;
//   background-image: linear-gradient(to right bottom, #08ffc9c4, #08ffc9c4),
//     url("../img/pictures/steps-2.jpg");
//   background-size: cover;
//   background-position: center;
//   height: 85%;
//   -webkit-box-shadow: 0px 20px 30px -10px rgba(148, 148, 148, 0.4);
//   border-radius: 8px 8px 0 8px;
//   transition: 0.4s;
// }
// .step-2 {
//   align-self: end;
//   background-image: linear-gradient(to right bottom, #3b5898b9, #3b5898b9),
//     url("../img/steps-1.jpg");
//   background-size: cover;
//   background-position: center;
//   height: 85%;
//   -webkit-box-shadow: 0px 20px 30px -10px rgba(156, 156, 156, 0.4);
//   border-radius: 0 8px 8px 8px;
//   transition: 0.4s;
// }

// .step-box {
//   padding: 3rem;
//   margin-top: 5%;
// }
// .step-card > h3 {
//   font-size: 1.5rem;
//   text-transform: uppercase;
//   font-weight: lighter;
//   /* text-decoration-line: underline; */
//   text-shadow: 10px 10px 30px rgb(87, 86, 86);
//   font-family: "Catamaran", "Gill Sans MT", "Calibri", "Trebuchet MS",
//     sans-serif !important;
// }
// .step-card > h3 {
//   padding: 1rem;
// }

// .step-2-sub {
//   color: #fcfcfc !important;
//   padding: 3rem;
//   margin-top: 25%;
// }
.process {
    margin: 1rem;
    background-image: url("/assets/img/pictures/steps-top.jpg");
    background-size: cover;
    background-position: center;
    &-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-items: center;
    background-color: #fafafac4;
    &-card {
      padding: 5rem;
    }
  }
  &-step{
    &-number {
      width: 55px;
    height: 55px;
    background-image: linear-gradient(90deg, #3b5998 0%, #08ffc9 100%);
    border-radius: 50px;
    color: #000000;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    font-weight: 100;
    }
    &-title {
      font-size: 20px;
    display: inline-block;
    margin: 8px;
    }
    &-text {
      width: 100%;
      padding: 0 2rem;
      margin: 18px;
    }
  }
    
  }

  .process-step-text::after{
    content: "";
    width: 230px;
    height: 2px;
    background-color: #3b5998;
    display: block;
    margin-top: 1.3rem;
  }
  .name {
    background-color: #08ffc9;
    color: #204969;
  }
/* ******************************************************************************** --CALL OF ACTION --  */
.call-of-action {
  background-color: #08ffc9c4;
}
.call-of-action-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: auto;
}
.call-of-action-title > h4 {
  margin: 3rem 0;
  padding: 1rem 0;
  color: #262f39 !important;
  color: #204969 !important;
}
.call-of-action-btn {
  align-self: end;
}
/* ******************************************************************************** --FOOTER--  */
.section-7 {
  box-sizing: border-box;
  height: 38vh;
}

.section-7-footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: 38vh;
  /* border-top: rgb(214, 214, 214) solid 1px; */
  border-bottom: rgb(214, 214, 214) solid 1px;
}

.footer-right {
  padding: 2rem;
}
.footer-about > a {
  display: block;
  color: #6d6d6d;
  width: 110px;
}
.footer-about > a:hover {
  display: block;
  color: #070027;
  text-shadow: 0.2px 0.2px 10px rgb(196, 196, 196);
}
.footer-about {
  line-height: 2rem;
  font-weight: lighter;
  color: #6d6d6d;
  padding: 10px 0;
}
.social-icons {
  line-height: 2rem;
  font-weight: lighter;

  padding: 10px 0;
}
.social-icons > li {
  list-style: none;
  display: inline;
  padding-right: 1rem;
}
.social-icons > li > a {
  color: #010002;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #38a1f3;
}
.fa-linkedin:hover {
  color: #0077b5;
}
.fa-instagram:hover {
  color: #d9317a;
}
.last-footer {
  text-align: center;
  margin: 2rem;
  color: #a1a1a1;
  font-style: italic;
  font-size: 0.8rem;
}


// WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
.map{
  width: 490px;
  width: 100%;
}
.contact_us {
  height: 490px;
  background-image: linear-gradient(to top, rgba(17, 26, 34, 0.733), rgba(17, 26, 34, 0.733)), 
  url("/assets/img/pictures/about-header.jpeg");
  background-size: cover;
  background-position: top;

}
  .contact-us-header-box {
    padding: 10rem 5rem;
  }
  .contact_info {
      background-color: #fffffe;
  }
.contact_info-container {
  height: 120px;
  width: 50%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  color: $color-primary-dark;
  
 }
.contact_info-container > span {
  position: relative;
 }
.contact_info-container > a:hover{
  color: $color-primary-dark;
 }

.contact_info-container .phone::before {
  content: "";
  background-image: url("/assets/img/icons/SVG/iphone.svg");
  width: 30px;
  background-size: cover;
  height: 30px;
  display: inline-block;
  margin: 0 8px;
position: absolute;
  right: 95px; }
.contact_info-container .email::before {
  content: "";
  background-image: url("/assets/img/icons/SVG/email.svg");
  width: 30px;
  background-size: cover;
  height: 30px;
  display: inline-block;
  margin: 0 8px;
position: absolute;
  right: 155px; }
.contact_info-container .location::before {
  content: "";
  background-image: url("/assets/img/icons/SVG/location.svg");
  width: 30px;
  background-size: cover;
  height: 30px;
  display: inline-block;
  margin: 0 8px;
position: absolute;
  right: 225px; }

// ************************************************************************************ CONTACT-FORM **********

.contact-form {
  &-title {
    display: grid;
grid-template-columns: 1fr;
margin: 4rem 0;
align-items: center;
justify-items: center;
color: $color-primary-dark;
  }
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  padding: 2rem;
  grid-gap: 2rem;
  margin: 0 auto;
  font-size: 13px;
text-transform: uppercase;
line-height: 3rem;
  input {
    width: 100%;
    height: 48px;
    padding: .75rem;
    font-size: 1rem;
    outline-color: $color-secondary;
    outline-width: 1px;
    border: none;
    
  }

}
.field-asterisc {
  color: rgb(70, 0, 0);
}
.form-message {
  display: grid;
  grid-template-columns: 1fr;
  width: 60%;
  padding: 0 2rem;
  margin: 0 auto;
  font-size: 13px;
text-transform: uppercase;
line-height: 3rem;
textarea {
    width: 100%;
    height: 148px;
    padding: .75rem;
    font-size: 1rem;
    outline-color: $color-secondary;
    outline-width: 1px;
    border: none;
    resize: none;
    margin-bottom: 3rem;
  }
  button {
    border: none;
    align-self: center;
    justify-self: center;
  }
  .form-btn {
    align-self: center;
    justify-self: center;
    margin-bottom: 3rem;
  }
  button:active {
    outline: none;
  }
  button:visited {
    outline: none;
  }

}
// &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& SUBSCRIBE &&&&&&&&&
.subscribe {
  background-color: #08ffc9c4;
  transition: all 1s;
  &-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: auto;
  }
  &-title > h4 {
    margin: 3rem 0;
    padding: 1rem 0;
    color: #204969 !important;
    font-size: 38px; 
    font-weight: lighter; 
    margin-left: 3rem;
  }
  &-btn{
   border-radius: 0 4px 4px 0;
    display: inline;
    border: #070027 1px solid;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    width: 15%;
    height: 58px;
    background-color: #1e303f48;
    color: #1e303f;
    cursor: pointer;
    text-align: center;
    transform: translateY(118%);
    &-icon {
      display: inline-block;
      font-size: 30px;
    }
    &:hover{
      background-image: linear-gradient(
    90deg,
    $color-secondary
     0%,
    $color-primary 100%);
    }
  }
  &-form {
    input {
    width: 70%;
    transform: translateY(110%);
    height: 58px;
    padding: .50rem;
    font-size: 1rem;
    outline: none;
    border: 0.5px solid #111a22;
    border-radius: 4px 0 0 4px;
    font-style: italic;
    background-color: transparent ;
    color: #262f39;
    :hover {
    background-color: #1e303f48;
    color: $color-primary-dark;}
    }
    
  }
}


/* ******************************************************************************** --EFFECTS--  */
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  10% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(100px);
  }

  80% {
    transform: translateX(-10px);
  }
  10% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  10% {
    transform: translateX(150px);
  }
}
/* ******************************************************************************** --MEDIA QUERIES --  */
@media only screen and (max-width: 768px) {
  .contact-form {
    display: block;
  }
  .form {
    display: block;
  }
  .card-container {
  display: block;
  }
  .process-grid {
    display: block;
  }
  .projects-grid {
    display: block;
  }
  .call-of-action-grid {
  display: block;
  }
  .about-grid {
  display: block;
  text-align: center;
  }
}
