* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f7f7ff;
  font-size: 1.1rem;
  line-height: 1.5; }

a {
  text-decoration: none; }

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem; }

img {
  display: block;
  width: 100%; }

h1, h2, h3 {
  margin: 0;
  padding: 1rem 0; }

p {
  margin: 0;
  padding: 1rem 0; }

/* Header Show Case */
.showcase {
  min-height: 55vh;
  text-align: center; }
  .showcase-bg-image {
    position: absolute;
    background: #08ffc9 url("https://images.unsplash.com/photo-1517148815978-75f6acaaf32c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vh;
    z-index: -1;
    opacity: 0.4; }
  .showcase h1 {
    padding-top: 100px;
    padding-bottom: 0; }

.content-wrap {
  padding: 0 1.5rem; }

.section-a {
  padding: 2rem 0;
  color: #f7f7ff; }

.section-b {
  padding: 2rem 1rem 1rem; }
  .section-b ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .section-b li {
    margin-bottom: 1rem;
    background: #f7f7ff;
    color: #262f39; }

.service-intro {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  justify-items: center;
  align-content: center;
  margin: 3rem auto;
  padding: 2rem 1.5rem;
  border-bottom: #afafaf solid 2px; }
  .service-intro h3 {
    font-size: 2rem; }

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  transition: all .6s !important; }
  .card-content-wrap {
    padding: 1rem 1.5rem; }
  .card:nth-child(even) img {
    order: 2; }
  .card:nth-child(odd) {
    background-color: #000000;
    color: #f7f7ff; }
  .card:hover {
    -webkit-box-shadow: 0px 20px 30px -10px #0000003f;
    transform: translateX(-30); }

@media (max-width: 700px) {
  .card {
    display: block; }
  .service-intro {
    display: block; } }
